.emptyListTasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--gray-300);
}

.emptyListTasks svg {
    margin-bottom: 1rem;
}

.emptyListTasks p {
    line-height: 1.4;
    font-size: 1rem;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.statusTask {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.createdTasks, .finishedTasks {
    font-size: .875rem;
    font-weight: bold;
}

.createdTasks span, .finishedTasks span {
    color: var(--gray-200);
    background: var(--gray-400);
    padding: .125rem .5rem;
    border-radius: var(--border-radius);
}

.createdTasks {
    color: var(--blue);
}

.finishedTasks {
    color: var(--purple);
}